[submodule "themes/beautiful"]
	path = themes/beautiful
	url = https://github.com/halogenica/beautifulhugo
[submodule "themes/lightbi"]
	path = themes/lightbi
	url = https://github.com/binokochumolvarghese/lightbi-hugo
